.checkout-main{
    height: 85vh;
    width: 100%;
    background:url('../../images/grey-bg.jpg');
    position: relative;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;   
    flex-direction: column;
    overflow: scroll;
   
}
.checkout-main::-webkit-scrollbar {
    display: none;
}


.checkout-form1{
    position: absolute;
    background-color: rgb(238, 238, 247);
    height: 75vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    padding: 60px;
    left:130px;
    top: 40px;
    border-radius: 10px;
    border: 2px solid black;

}


.checkout-form2{
    position: absolute;
    background-color: rgb(238, 238, 247);
    height: 75vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    right: 130px;
    top: 40px;
    border-radius: 10px;
    border: 2px solid black;


}



.checkout-form1>input{
  
   height: 30px;
   width: 130px;
   margin: auto;
   font-size: 1.1rem;
   font-family: sans-serif;
   font-weight: 600;
   
}

.checkout-form2>form>h3{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    
}

.checkout-form2>form>h4{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

.checkout-form2>button{
    position: absolute;
    background-color: rgb(8, 104, 8);
    color: black;
    height: 30px;
    width: 100px;
    bottom: 50px;
    left: 130px;
}


 
 

