.main-div{
    background-color: rgb(243, 242, 242);
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}






.profile-info{
    position: absolute;
    background-color: rgb(83, 81, 81);
    height: 90%;
    width: 20%;
    left: 0%;
    top: 10%;
}

.top-bar{
    display: flex;
    position: absolute;
    background-color: rgb(14, 13, 13);
    bottom: 90%;
    height: 10%;
    width: 100%;
}

.top-bar>h3{
    
    color: white;
    margin: 20px;
    margin-left:23%;
    
}

.ad-table>table{
    height: 50px;
    width: 80%;
    margin-left: 50px;
    
    border-radius: 20px;
        padding: 10px;
  
    overflow: hidden;

}

table, th, td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    
  }
  .ad-table{
      height: 65vh;
      overflow: scroll;
      background-color: rgb(255, 255, 255);
      position: absolute;
      width: 75%;
      left: 20%;
      top:10% ;
      padding: 10px;

  }
 .ad-table::-webkit-scrollbar {
    display: none;
  }
  .table-disabled{
      display: none;
  }

  .sam-image{
      height: 55px;
      width: 65px;
      transition: all 1s;
  }

  td>button{
      background-color: rgb(246, 6, 6);
      margin-left: 10px;
      color: white;
  }

  .add-button{
      position: absolute;
      right: 2%;
      top: 8%;
      height: 50px;
      width: 120px;
      font-size: 1rem;
      font-weight: 600;
      padding: 5px;
      font-family: Arial;
      border-radius: 10px;
      color: white;
      background-color: teal;
  }
  .sam-image:hover{
        transform:scale(1.3);

  }