.adminLogin{
    background-color: rgb(83, 81, 81);
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    
    
}

.adminForm{
    display:flex;
    position: absolute;
    flex-direction: column;
    height: 65vh;
    width: 30vw;
    background-color: rgb(2, 17, 48);
    top: 10%;
    left: 35%;
    justify-self: center;
    padding: 10px; 
    
}

.formInput{
    display: flex;
    flex-direction: column;
    padding: 5px;

}
.formInput>input,.formInput>label,.formInput>button{
    margin: 10px;
}
.lgntxt{
    margin: auto;
    font-family: 'Gill Sans';
    font-weight: 700;
}
.formInput>button{
    width: 75px;
    height: 30px;
    margin-top: 20px;
    font-size: 1rem;
    padding: 4px;
}
.formInput>button:hover{
    background-color: rgb(27, 10, 175);
}