.user-log-main{
    height: 85vh;
    width: 100%;
    background:url('../../images/grey-bg.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.wel-area{
    position: absolute;
    left: 20%;
    top: 6%;
    height: 70vh;
    width: 280px;
    background-color: rgb(87, 88, 88);
    border-radius: 12px;
    box-shadow: 5px 7px 4px rgb(66, 64, 64);
    transition: all 1s;
    animation: from_left 1s;
    
}

.wel-area:hover,.login-area:hover{
    box-shadow: 15px 10px 30px rgba(22, 21, 21, 0.808);
}

.login-area{
    position: absolute;
    
    top: 12%;
    height: 70vh;
    width: 300px;
    background-color: rgb(98, 102, 102);
    border-radius: 12px;
    box-shadow: 5px 7px 4px rgb(54, 53, 53);
    transition: all 1s;
    animation: from_right 1s;
    right: 20%;
    overflow: hidden;
}

@keyframes from_right{
    from{
        right: 10%;
    }
    to{
        right: 20%;
    }
}

@keyframes from_left{
    from{
        left: 10%;
    }
    to{
        left: 20%;
    }

}

.wel-area>h1{
    margin-top: 8px;
    text-align: center;
    color: rgb(2, 17, 48);
}
.wel-area>h3{
    padding: 5px;
    text-align: center;
    color: rgb(2, 17, 48);
} 

.wel-area>img{
    color:rgb(2, 17, 48) ;
    height: 50%;
    width: 60%;
   margin-left:50px ;
}

.wel-area>h4{
    color:rgb(137, 160, 112) ; 
    text-align: center;  
    text-decoration: underline burlywood; 
    font-size: 1.2rem;
}
.log-curve{
    position: relative;
    height:135px;
    width: 300px;
    background-color: rgb(65, 61, 65);
    border-radius: 50%;
    margin-top: -55px;
}
.login-area>input{
    height: 30px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px #bbc2be,
                inset -5px -5px 8px rgb(158, 155, 155);
    color: black;

}.login-area>button{
      height: 37px;
      width: 100px;
      border-radius: 20px;
      box-shadow: inset 2px 2px 15px #ebeeec,
      inset -5px -5px 8px rgb(207, 203, 203);
      font-size: 10px;
      font-weight: bold;
      padding: 10px ;
      margin-left: 100px; 
      margin-top: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition: transform 80ms ease-in;
}
.login-area>h5{
    color: rgb(31, 30, 29);
    margin-left: 58px;
    padding-top: 15px;
    cursor: default;
    font-size: 1.2rem;
}
.login-area>h6{
    color: rgb(31, 30, 29);
    margin-left: 55px;
    padding-top: 15px;
    font-size: 1rem;
}

.log-curve>h2{
    position: absolute;
    color: rgba(231, 231, 212, 0.767);
    height: 50px;
    width: 70px;
    left: 110px;
    top: 85px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
     

    
}

