.cart-main{
    height: 85vh;
    width: 100%;
    background:url('../../images/grey-bg.jpg');
    position: relative;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;   
    flex-direction: column;
    overflow: scroll;
   
}
.cart-main::-webkit-scrollbar {
    display: none;
  }
.cart-main>button{
    position: absolute;
    height: 40px;
    width: 150px;
    top: 20px;
    right: 20%;
    padding: 5px;
    background-color: rgb(20, 83, 18);
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    
}

.cart-main>h2{
    font-size: 2.2rem;
    font-weight: 700;
    margin-left:430px;
    margin-top: 20px;
    color: rgb(2, 17, 48);
}



/* card */



.cart-box1{
    position: absolute;
    height: 47vh;
    width: 60vw;
    background-color: darkgray;
    top: 20%;
    left:205px;
    border-radius: 5px;
   
}
.cart-box1>h1{
    position: absolute;
    left: 43%;
    top: 15%;
    font-size: 1.7rem;
    padding-bottom:20px ;
}
.cart-box1>h2{
    position: absolute;
    left: 43%;
    top: 26%;
    font-size: 1.5rem;
}
.cart-box1>h4{
    position: absolute;
    left: 43%;
    top:38%;
    font-size: 1.1rem;
}
.cart-box1>button{
    position: absolute;
    top: 15%;
    left: 70%;
    padding: 5px;
    background-color: rgb(141, 2, 2);
    color: white;
}


.cart-box1>img{
    height: 35vh;
    width: 20vw;
    margin-top: 33px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 7px 8px  rgb(168, 162, 162);
}

.cart-color-select>select{
    position: absolute;
    bottom: 35%;
    left: 43%;
    background-color: rgb(116, 110, 110);
    color: rgb(31, 28, 28);
    border-radius: 5px;
}

.cart-size-selector>select{
    position: absolute;
    bottom: 35%;
    left: 75%;
    background-color: rgb(116, 110, 110);
    color: rgb(31, 28, 28);
    border-radius: 5px;
}
.cart-buynow>button{
    position: absolute;
    height: 40px;
    width: 150px;
    left: 54%;
    bottom: 15%;
    background-color: rgb(78, 143, 76);
    color: rgb(12, 10, 10);
    border-radius: 5px;
    font-weight: 700;

}




.cart-box2{
    position: absolute;
    height: 47vh;
    width: 60vw;
    background-color: darkgray;
    top: 80%;
    left:205px;
    border-radius: 5px;
   
}
.cart-box2>h1{
    position: absolute;
    left: 43%;
    top: 15%;
    font-size: 1.7rem;
    padding-bottom:20px ;
}
.cart-box2>h2{
    position: absolute;
    left: 43%;
    top: 26%;
    font-size: 1.5rem;
}
.cart-box2>h4{
    position: absolute;
    left: 43%;
    top:38%;
    font-size: 1.1rem;
}
.cart-box2>button{
    position: absolute;
    top: 15%;
    left: 70%;
    padding: 5px;
    background-color: rgb(141, 2, 2);
    color: white;
}


.cart-box2>img{
    height: 35vh;
    width: 20vw;
    margin-top: 33px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 7px 8px 10px  rgb(168, 162, 162);
    
}

.cart-color-select>select{
    position: absolute;
    bottom: 35%;
    left: 43%;
    background-color: rgb(116, 110, 110);
    color: rgb(31, 28, 28);
    border-radius: 5px;
}

.cart-size-selector>select{
    position: absolute;
    bottom: 35%;
    left: 75%;
    background-color: rgb(116, 110, 110);
    color: rgb(31, 28, 28);
    border-radius: 5px;
}
.cart-buynow>button{
    position: absolute;
    height: 40px;
    width: 150px;
    left: 54%;
    bottom: 15%;
    background-color: rgb(78, 143, 76);
    color: rgb(12, 10, 10);
    border-radius: 5px;
    font-weight: 700;

}

/* hovers */


.cart-main>button:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(4, 59, 8, 0.808);
}
.cart-box1>img:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(22, 21, 21, 0.808);
}
.cart-buynow>button:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(58, 126, 64, 0.808);
}
.cart-box1>button:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(190, 85, 85, 0.808);
}



.cart-box2>img:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(22, 21, 21, 0.808);
}
.cart-buynow>button:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(58, 126, 64, 0.808);
}
.cart-box2>button:hover{
    transition: all 1s;
    box-shadow: 15px 10px 30px
     rgba(190, 85, 85, 0.808);
}