.add-main>form{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 40vw;
    margin: auto;
    padding:20px;
    background-color: rgb(2, 17, 48);
    color: white;
    margin-top: 15px;
}

label{
    font-weight: 600;
    margin: 15px;
}
.addprod-btn{
    height: 20px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    
}

.invalid-msg{
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 10%;
    background-color: rgb(230, 215, 10);
    left: 20px;
    padding: 10px;

}
.invalid-msg-disabled{
    display: none;
}

.addsucc-msg{
    position: absolute;
    background-color: rgb(19, 165, 14);
    color: rgb(255, 255, 255);
    left: 32%;
    top: 25%;
    padding: 75px;
    text-align: center;
}

.addsucc-msg>button{

    height: 40px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: rgb(77, 209, 209);
    color: rgb(3, 2, 2);
    box-shadow:5px 10px 4px rgba(0, 0, 0, 0.342);
}

.addsucc-disabled{
    display: none;
}
.error-msg{
    position: absolute;
    background-color: rgb(226, 56, 13);
    color: rgb(255, 255, 255);
    left: 34%;
    top: 25%;
    padding: 60px;
    text-align: center;
}

.error-msg>button{

        height: 40px;
        width: 150px;
        padding: 5px;
        margin: 10px;
        margin-top: 60px;
        border-radius: 5px;
        background-color: rgb(77, 209, 209);
        color: rgb(3, 2, 2);
        box-shadow:5px 10px 4px rgba(0, 0, 0, 0.342);
}

.error-msg-disabled{
    display: none;
}