.user-pro-main{
    background-color: rgb(34, 118, 228);
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
    
}       

.pro-area{
   
    background: url(../../images/pro-img.jpg) ;
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 100%;

}

.option-area{
    
    display: flex;
    height: 20vh;
    width: 100%;
    
}
.option-area>h2{
   background-color: rgb(189, 202, 238);
   margin-top: 50px;
    height: 55px;
    width: 140px;
    margin-left: 25px;
    margin-bottom: 70px;
    padding: 10px;
    text-align: center;
    color: rgb(19, 34, 170);
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
    box-shadow: 5px 7px 4px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 1s;
    animation: from_top 1s;
   
}

.option-area>h2:hover{
    box-shadow: 15px 10px 30px rgba(2, 26, 104, 0.808);
    transform: scale(1.1);
}
@keyframes from_top{
    from{
        top: 5%;
    }
    to{
        top: 20%;
    }
}

